<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>購入確認画面</title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/js/common.js">

    <link rel="stylesheet" href="../static/css/buyCheck.css">
    

  </head>
  <!-- menu checkbox周りを<>で囲う際はbodyないのものすべてを囲まないと設定したアニメーションが動かなくなります -->
  <body>
    <div class="wrap">
      <div><a href="top.html"><img src="../static/images/logo2.png"></a></div>
    </div>
    <input type="checkbox" id="menu" />
    <label for="menu" class="menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="nav">
      <ul class="navwrap">
        <li class="hoverli"><a href="signin.html">ログイン</a></li>
        <li><a href="top.html">トップページ</a></li>
        <li>
          <div >
            <a href="movieList.html">上映中一覧</a>
            <ul>
              <li><a href="" style="padding-top: 0.1vw;"><span>H</span>orror</a></li>
              <li><a href=""><span>A</span>ction</a></li>
              <li><a href=""><span>L</span>ove</a></li>
            </ul>
          </div>
        </li>
        <li><a href="comingList.html">公開予定</a></li>
        <li><a style="padding: 0.7vw 0.9vw; font-size:1vw;" href="screen.html">スクリーンスペック</a></li>
        <li><a style="padding: 0.7vw 1.1vw;" href="#">サイトマップ</a></li>
      </ul>
    </nav>
    
    
    <main>
      <!-- spaceはnavの帳尻合わせのために作ってる -->
      <div class="space"></div>

        <div id="Wrap">
            <ol class="stepBar">
              <li><span><p>1</p></span><br>入力</li>
              <li><span><P>2</P></span><br>確認</li>
              <li class="visited"><span><p>3</p></span><br>購入完了</li>
            </ol>

            <div id="flexArea">
              <div id="buy_main">
                  <div id="title">
                      <p id="titleName">映画タイトル映画タイトル映画タイトル</p> <!-- 何文字以上で「映画タイトル...」みたいな感じに -->
                  </div>
                  <div id="dateTime">
                      <p id="day">12月12日(金)</p>
                      <p id="time">12:00 ~ 13:30</p>
                  </div>
              </div>

              <div id="seat">
                <div id="screen"><p>スクリーン8</p></div>
                <div id="seatNumber"><p>[ F-12 , F-13, F-14 ]  <!-- ココに要素を入れて繰り返し。要素数次第でcssのフォントサイズとテキストアライン変更 --></p></div>
              </div>

              <div id="total_price">
                <div id="classiFication">
                  <div id="classF">
                    <table>
                      <tr>
                        <td class="cl">小学生</td>
                        <td class="qu">×2</td>
                        <td class="pl">1600円</td>
                      </tr>
                      <tr>
                        <td class="cl">中学生</td>
                        <td class="qu">×2</td>
                        <td class="pl">2000円</td>
                      </tr>
                      <tr>
                        <td class="cl">高校生</td>
                        <td class="qu">×1</td>
                        <td class="pl">1200円</td>
                      </tr>
                      <tr>
                        <td class="cl">大人</td>
                        <td class="qu">×1</td>
                        <td class="pl">1500円</td>
                      </tr>
                    </table>
                  </div>
                  <div id="total"><p>計6枚</p></div>
                </div>
                <div id="priceArea">
                  <div id="price">
                    <p id="priceG">合計</p>
                    <P id="priceY"><!--ココに入れる-->111111円</P>
                  </div>
                </div>

              </div>

              <div id="payment"></div>

              <input type="submit" class="submit-button" value="購入する">

            </div>

        </div>







































      <footer>
        <div class="logo">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    
        <div class="secondary-links">
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
    
          <ul class="social">
            <li><a href="#">
              <i class="fa fa-github"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-codepen"></i>
            </a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>

</html>