<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会員情報</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/MemberInfo.css')}}">
  </head>
  <body>
    <div class="wrap">
      <div><a href="{{url_for('index')}}"><img src="{{url_for('static',filename='images/logo2.png')}}"></a></div>
    </div>
    <input type="checkbox" id="menu" checked/>
    <label for="menu" class="menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="nav">
      <ul class="navwrap">
        {% if current_user.is_authenticated %}
        <li class="hoverli"><a href="{{ url_for('signout') }}">ログアウト</a></li>
        <li class="hoverli"><a href="{{ url_for('memberinfo') }}">マイページ</a></li>
        {% else %}
        <li class="hoverli"><a href="{{ url_for('signin') }}">ログイン</a></li>
        {% endif %} 
        <li><a href="{{url_for('index')}}">トップページ</a></li>
        <li>
          <div >
            <a href="{{url_for('views.movielist')}}">上映中一覧</a>
            <ul>
              <li><a href="" style="padding-top: 0.1vw;"><span>H</span>orror</a></li>
              <li><a href=""><span>A</span>ction</a></li>
              <li><a href=""><span>L</span>ove</a></li>
            </ul>
          </div>
        </li>
        <li><a href="{{url_for('views.cominglist')}}">公開予定</a></li>
        <li><a href="{{url_for('views.ticketdetail')}}">チケット代金</a></li>
        <li><a style="padding: 0.7vw 0.9vw; font-size:1vw;" href="{{url_for('views.screen')}}">スクリーンスペック</a></li>
        <li><a style="padding: 0.7vw 1.1vw;" href="{{url_for('views.sitemap')}}">サイトマップ</a></li>
      </ul>
    </nav>
    <div class="backimg"><img src="{{url_for('static', filename='images/eigakan2.jpg')}}" alt=""/div>
   
   
    <main>
      <div class="space"></div>
 
      <div id="Info">
        <h1>お客様情報</h1>
        <table>
          <tr>
            <td><img src="{{url_for('static', filename='images/ICON1.jpg')}}" alt="会員画像"></td>
            <td>
              <p>{{ user.Name }}</p>
              <p>{{ user.MailAddress }}</p>
            </td>
            <td><a href="{{url_for('views.infoedit')}}"><button>編集</button></a></td>
          </tr>
        </table>
      </div>
 
      <h1>予約詳細</h1>
 
      <table>
        {% if reservations %}
          {% for reservation in reservations %}
          <tr>
              <td><img src="{{ url_for('static', filename='images/' ~ reservation.showing.movie.MovieImageLength) }}" alt="{{ reservation.showing.movie.MovieTitle }}" width="100"></td>
              <td>
                <p>映画タイトル:{{ reservation.showing.movie.MovieTitle }}</p>
                <p>座席番号:{{ reservation.SeatNumber }}</p>
              </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2">チケットの予約はありません。</td>
          </tr>
        {% endif %}
      </table>
 
      <div id="Histry">
        <h1>視聴した映画</h1>
        <tr>
          <td><img src="{{url_for('static', filename='images/100$_1.jpg')}}" alt="サムネ"></td>
          <td><img src="{{url_for('static', filename='images/GOZKON_1.jpg')}}" alt="サムネ"></td>
          <td><img src="{{url_for('static', filename='images/UMANew_1.jpg')}}" alt="サムネ"></td>
        </tr>
      </div>
 
      <footer>
        <div class="logo">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
        <ul>
          <li><a href="{{url_for('index')}}">トップ</a></li>
          <li><a href="{{url_for('index')}}#news_campaign">お知らせ</a></li>
          <li><a href="{{url_for('views.screen')}}">スクリーンスペック</a></li>
          <li><a href="{{url_for('views.sitemap')}}">サイトマップ</a></li>
        </ul>
     
        <div class="secondary-links">
          <ul class="social">
            <li><a href="#">
              <i class="fa fa-github"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-codepen"></i>
            </a></li>
          </ul>
        </div>
      </footer>

      <!-- 個人情報編集form -->
      <form action="/forms/prof_update" method="post">
        <input type="text" name="Name" id="Name" value="{{ user.Name }}">
        <input type="text" name="KanaName" id="KanaName" value="{{ user.KanaName }}">
        <input type="password" name="Password" id="Password" value="{{user.Password}}">
        <input type="text" name="MailAddress" id="MailAddress" value="{{user.MailAddress}}">
        <input type="text" name="PhoneNumber" id="PhoneNumber" value="{{user.PhoneNumber}}">
        <input type="submit" value="変更">
      </form>

    </main>
  </body>
</html>