<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>座席選択</title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/SeatSelect.css">
    <link rel="stylesheet" href="../static/js/common.js">
</head>
<body>
    <div class="screen">スクリーンはこちら</div>
    <div class="seat-map" id="seat-map">
        <table>
            {% if screen_id == 3 %}
                スクリーン3はこちら
            {% elif screen_id == 2 %}
                スクリーン2はこちら
            {% else %}
                その他のスクリーンはこちら
            {% endif %}

            {% for seat in seats %}
                {% if loop.index0 % 20 == 0 %}
                <tr>
                {% endif %}
                <td class="seat reserved" data-seat-id="{{ seat.id }}"> 
                    {{ seat.row }}{{ seat.number }}
                </td>
                {% if loop.index % 20 == 0 or loop.last %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <input type="hidden" id="showing-id" value="{{ showing_id }}">

    <div id="error-message" style="color: red;"></div>
    <p id="selected-seat">選択された座席: </p>
    <button id="reserve-button">予約する</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="{{url_for('static', filename='/js/SeatSelect.js')}}"></script>
</body>
</html>