<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>性別作る</title>
</head>
<body>
    <h2>性別一覧</h2>
    <ul>
        {% for sex in seibetus %}
            <li>
                {{ sex.sex }}
            </li>
        {% endfor %}
    </ul>
    <h2>性別追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="seibetutukuru" placeholder="性別">
        <button type="submit">追加</button>
    </form>
    <h2>キャパ一覧</h2>
    <ul>
        {% for capa in capas %}
            <li>
                {{ capa.capa }}
            </li>
        {% endfor %}
    </ul>
    <h2>キャパ追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="capacity" placeholder="キャパ">
        <button type="submit">追加</button>
    </form>
    <h2>年齢制限一覧</h2>
    <ul>
        {% for agelimit in agelimits %}
            <li>
                {{ agelimit.agelimit }}
            </li>
        {% endfor %}
    </ul>
    <h2>年齢制限追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="agelimit" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <h2>a</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="a" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <h2>b</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="b" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <h2>c</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="c" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>


    <h2>Showingにデータ追加</h2>
    <form method="POST">
        <label for="movie_id">Movie ID:</label>
        <input type="number" id="movie_id" name="movie_id" required><br><br>

        <label for="screen_id">Screen ID:</label>
        <input type="number" id="screen_id" name="screen_id" required><br><br>

        <button type="submit">追加</button>
    </form>


    <p></p>
    <h2>予約テーブルのリスト表示</h2>
    <p>このボタン押すとレコード全部消えるよ</p>
    <form action="{{ url_for('seibetutukuru') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
    <table>
        <thead>
            <tr>
                <th>ReservationID</th>
                <th>AccountID</th>
                <th>ShowingID</th>
                <th>SeatNumber</th>
                <th>PriceID</th>
                <th>DiscountID</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.ReservationID }}</td>
                <td>{{ reservation.AccountID }}</td>
                <td>{{ reservation.ShowingID }}</td>
                <td>{{ reservation.SeatNumber }}</td>
                <td>{{ reservation.PriceID }}</td>
                <td>{{ reservation.DiscountID }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>