<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>性別作る</title>
</head>
<body>
    <h2>性別一覧</h2>
    <ul>
        {% for sex in seibetus %}
            <li>
                {{ sex.sex }}
            </li>
        {% endfor %}
    </ul>
    <h2>性別追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="seibetutukuru" placeholder="性別">
        <button type="submit">追加</button>
    </form>
    <h2>キャパ一覧</h2>
    <ul>
        {% for capa in capas %}
            <li>
                {{ capa.capa }}
            </li>
        {% endfor %}
    </ul>
    <h2>キャパ追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="capacity" placeholder="キャパ">
        <button type="submit">追加</button>
    </form>
    <h2>年齢制限一覧</h2>
    <ul>
        {% for agelimit in agelimits %}
            <li>
                {{ agelimit.AgeLimit }}
            </li>
        {% endfor %}
    </ul>
    <h2>年齢制限追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="agelimit" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <!--<form method="POST" action="{{ url_for('seibetutukuru') }}" enctype="multipart/form-data">
        <input type="text" name="movie" placeholder="映画">
        <input type="file" name="movie_image">

        <button type="submit">追加</button>
    </form>-->
    <h2>映画カテゴリー一覧</h2>
    <ul>
        {% for agelimit in moviecategorys %}
            <li>
                {{ agelimit.CategoryName }}
            </li>
        {% endfor %}
    </ul>
    <h2>映画カテゴリー追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="moviecategory" placeholder="映画カテゴリー">
        <button type="submit">追加</button>
    </form>
    <h2>映画追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}" enctype="multipart/form-data">
        <input type="text" name="movie" placeholder="映画"><br>
        <p>縦画像</p><input type="file" name="movie_imagelength"><br>
        <p>横画像</p><input type="file" name="movie_imageside"><br>
        <select name="agelimitdayo">
            {% for limit in agelimits %}
                <option value="{{ limit.AgeLimitID }}">{{ limit.AgeLimit }}</option>
            {% endfor %}
        </select>
        <select name="moviecategorydayo">
            {% for category in moviecategorys %}
                <option value="{{ category.MovieCategoryID }}">{{ category.CategoryName }}</option>
            {% endfor %}
        </select>
        <button type="submit">追加</button>
    </form>
    <h2>キャスト追加</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}" enctype="multipart/form-data">
        <input type="text" name="cast" placeholder="キャスト"><br>
        <select name="moviedayo">
            {% for movie in movies %}
                <option value="{{ movie.MovieID }}">{{ movie.MovieTitle }}</option>
            {% endfor %}
        </select>
        <button type="submit">追加</button>
    </form>
    <h2>a</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="a" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <h2>b</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="b" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>
    <h2>c</h2>
    <form method="POST" action="{{ url_for('seibetutukuru') }}">
        <input type="text" name="c" placeholder="年齢制限">
        <button type="submit">追加</button>
    </form>



    <h2>Showingにデータ追加</h2>
    <form method="POST">
        <label for="movie_id">Movie ID:</label>
        <input type="number" id="movie_id" name="movie_id" required><br><br>

        <label for="screen_id">Screen ID:</label>
        <input type="number" id="screen_id" name="screen_id" required><br><br>

        <button type="submit">追加</button>
    </form>


    <p></p>
    <h2>予約テーブルのリスト表示</h2>
    <p>このボタン押すとレコード全部消えるよ</p>
    <form action="{{ url_for('seibetutukuru') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
    <table>
        <thead>
            <tr>
                <th>ReservationID</th>
                <th>AccountID</th>
                <th>ShowingID</th>
                <th>SeatNumber</th>
                <th>PriceID</th>
                <th>DiscountID</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.ReservationID }}</td>
                <td>{{ reservation.AccountID }}</td>
                <td>{{ reservation.ShowingID }}</td>
                <td>{{ reservation.SeatNumber }}</td>
                <td>{{ reservation.PriceID }}</td>
                <td>{{ reservation.DiscountID }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>