<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>アカウント作成ページ</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/js/common.js">

    <link rel="stylesheet" href="../../static/css/sign.css">
    

  </head>
  <!-- menu checkbox周りを<>で囲う際はbodyないのものすべてを囲まないと設定したアニメーションが動かなくなります -->
  <body>
    
    
    <main>
      <!-- spaceはnavの帳尻合わせのために作ってる -->
      <div class="space"></div>

      <div class="signwrap">
        <div class="sign_logo">
          <img src="../../static/images/logo2.png" alt="ロゴ">
        </div>
        <div class="div_signup">
          <form method="post">
            <h1>新規登録</h1>
            <div class="div_signupform">
                <b>ユーザーID</b><br>
                {{ form.name }}
            </div>
            <div class="div_signupform">
                <b>メールアドレス</b><br>
                {{ form.mailaddress }}
            </div>
            <div class="div_signupform">
                <b>パスワード</b><br>
                {{ form.password }}
            </div>
            <div class="div_signupform">
                <b>パスワード再入力</b><br>
                {{ form.confirm_password }}
            </div>
          </form>
          <!--
          <h1>新規登録</h1>
          <div class="div_signupform">
              <b>ユーザーID</b>
              <input>
          </div>
          <div class="div_signupform">
              <b>メールアドレス</b>
              <input>
          </div>
          <div class="div_signupform">
              <b>パスワード</b>
              <input>
          </div>
          <div class="div_signupform">
              <b>パスワード再入力</b>
              <input>
          </div>
        -->
          <a href="signin.html"><button>新規登録</button></a>
          <!-- <hr> -->
          <a href="{{ url_for('signin') }}"><button>ログインへ</button></a>
        </div>
      </div>

    </main>
  </body>

</html>