<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ログインページ</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/js/common.js">

    <link rel="stylesheet" href="../../static/css/sign.css">
    

  </head>
  <!-- menu checkbox周りを<>で囲う際はbodyないのものすべてを囲まないと設定したアニメーションが動かなくなります -->
  <body>    
    
    <main>
      <!-- spaceはnavの帳尻合わせのために作ってる -->
      <div class="space"></div>
      
      <div class="signwrap">
        <div class="sign_logo">
          <img src="../../static/images/logo2.png" alt="ロゴ">
        </div>

        <div class="div_signin">
          <h1>ログイン</h1>
            <form method="post">
              {{ form.hidden_tag() }}
              <b>
                ユーザーID<br>
                {{ form.name }}<br>
              </b>
              <b>
                パスワード<br>
                {{ form.password }}
              </b>
              {{ form.submit() }}
            </form>
          <!--<div class="div_signinform">
              <b>ユーザーID</b>
              <input>
          </div>
          <div class="div_signinform">
              <b>パスワード</b>
              <input>
          </div> -->
          <p>パスワードを忘れた方はこちら</p>
          <!--<a  href="top.html"><button>ログイン</button></a>
          <! <hr> -->
          <a href="{{ url_for('signup') }}"><button>新規登録へ</button></a>
        </div>
      </div>

    </main>
  </body>

</html>