<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>名称未設定</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/moviedetail.css">
    <link rel="stylesheet" href="js/common.js">
    

  </head>
  <!-- menu checkbox周りを<>で囲う際はbodyないのものすべてを囲まないと設定したアニメーションが動かなくなります -->
  <body>
    <div class="wrap">
      <h2>ここにロゴ</h2>
    </div>
    <input type="checkbox" id="menu" />
    <label for="menu" class="menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    
    
    <main>
      <!-- spaceはnavの帳尻合わせのために作ってる -->
      <div class="space"></div>




      <div id="wrap">
        <div>

          <ul>
            <li id="thumbnail">
              <div><img src="images/konan.jpg"></div>
            </li>
            <li id="title">
              <h1>名探偵コナン　１００万ドルの五稜星</h1>
            </li>
          </ul>

          <div id="Synopsis">
            <h2>北海道・函館にある斧江財閥の収蔵庫に、怪盗キッドからの予告状が届いた。今回キッドが狙うのは、幕末を生きた新選組副長・土方歳三にまつわる日本刀だという。ビッグジュエルを追い求めるキッドが、なぜ刀を狙うのか...？
              一方、西の名探偵・服部平次とコナン達も、函館で開催される剣道大会の為に現地を訪れており、犯行予告当日、平次がキッドの変装を見事見破り追い詰めるが...！？
              時を同じくして、胸に十文字の切り傷がつけられた遺体が函館倉庫街で見つかる。捜査線上に浮かび上がったのは、“死の商人”と呼ばれ、アジア一帯で武器商人として活動する日系アメリカ人の男。
            </h2>
            <section style="flex-flow: column;">
              
              <ul>
                <li style="width: 30%;">監督</li>
                <li style="width: 70%;">永岡智佳</li>
              </ul>

              <div>

                <ul style="margin-top: -3%;">
                  <li style="width: 40%;"><p>上映時間</p></li>
                  <li style="width: 60%;"><p>111分</p></li>
                </ul>

                <ul style="margin: -3% 0 0 -10%">
                  <li style="width: 55%;"><p>レーティング</p></li>
                  <li style="width: 45%;"><p>指定なし</p></li>
                </ul>
              </div>

            </section>
          </div>
        </div>
      </div>



      <div id="schedule">
        <h2>上映スケジュール</h2>
        <span>
          <div id="scheduleday">

            <div>
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>

            <div style="border-left: solid #fff 0.00001vw; border-right: solid #fff 0.00001vw;">
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>

            <div>
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>

            <div style="border-left: solid #fff 0.00001vw; border-right: solid #fff 0.00001vw;">
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>

            <div>
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>


            <div style="border-left: solid #fff 0.00001vw; border-right: solid #fff 0.00001vw;">
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>


            <div>
              <span>
                <p class="day">5/24(月)</p>
                <p></p>
              </span>
            </div>

          </div>


          <div id="scheduletime">
            <div class="screenbody">
              <section>
                <h6>screen5</h6>
                <div class="screenwrap">
                  <div>
                    <a>
                      <p class="time"><span class="starttime">9:40</span>~<span class="endtime">11:45</span></p>
                      <p class="info">　</p>
                      <p class="status">販売中</p>
                    </a>
                  </div>
                  <div>
                    <a>
                      <p class="time"><span class="starttime">12:15</span>~<span class="endtime">14:20</span></p>
                      <p class="info">　</p>
                      <p class="status">販売中</p>
                    </a>
                  </div>
                  <div>
                    <a>
                      <p class="time"><span class="starttime">14:55</span>~<span class="endtime">17:00</span></p>
                      <p class="info">　</p>
                      <p class="status">販売中</p>
                    </a>
                  </div>
                  <div>
                    <a>
                      <p class="time"><span class="starttime">17:35</span>~<span class="endtime">19:40</span></p>
                      <p class="info">　</p>
                      <p class="status">販売中</p>
                    </a>
                  </div>
                  <div>
                    <a>
                      <p class="time"><span class="starttime">20:15</span>~<span class="endtime">22:30</span></p>
                      <p class="info">レイトショー</p>
                      <p class="status">販売中</p>
                    </a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </span>
      </div>



      <footer>
        <div class="logo">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    
        <div class="secondary-links">
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
    
          <ul class="social">
            <li><a href="#">
              <i class="fa fa-github"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-twitter"></i>
            </a></li>
            <li><a href="#">
              <i class="fa fa-codepen"></i>
            </a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>

</html>
