main{
    height: 100vh;
    box-shadow: none;
}

main div#ticketDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
}

main div#ticketDetails h1{
    margin-top: 10%;
    font-size: 2.0rem;
}

main div#ticketDetails section{
    width: 90%;
    margin: 5% 0;
    background-color: #eeeeee;
}

main div#ticketDetails section h2{
    margin: 16px 10px 0 5%;
    padding: 1px 5px;
    font-size: 1.3rem;
    border-left: 3px solid #ff0000;
}

main div#ticketDetails section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div#ticketDetails section div hr{
    width: 90%;
    text-align: center;
}

main div#ticketDetails section div div.Contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-size: 1.1rem;
}

footer{
    bottom: 0;
}